body {
	padding-top: 80px;
	background: url(http://i.imgur.com/8vlaM52.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

/* ----- modified Bootstrap CSS ------------------------------------- */

.navbar-default .navbar-nav>li>a {
color: #ffffff;
font-weight: normal;
}

.navbar-default .navbar-nav>li>a:hover {
color: #1C74FF;
}

.table-striped>tbody>tr:nth-child(odd)>td {
	background-color: rgba(122,166,217, 0.5)
}

.table > tbody > tr > td {
	padding: 8px;
	line-height: 1.428571429;
	vertical-align: middle;
	border-top: 1px solid #ddd;
}

.panel-group .panel {
margin-bottom: 20px;
overflow: hidden;
border-radius: 4px;
}

.panel-default>.panel-heading {
color: #ddd;
background-color: rgba(3,127,13,0.5);
border-color: #ddd;
}

.panel-default {
	background-color: rgba(0,0,0,0);
}

.panel-body {
	background-color: rgba(255,255,255,1);
}

/*----- end Bootstrap CSS --------------------------------------------- */

.navbar-style {
	background-color: rgba(0,0,0,0);
	border: none;
}

.border {
	border: 2px solid gray;
	border-radius: 2px;
}

.center {
	text-align: center;
}

.table {
	width: auto;
}

.notice {
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #468d32;
	border-radius: 3px;
	background-color: #96dda2;
	color: #468d32;
	font-weight: normal;
}

.alert {
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #468d32;
	border-radius: 3px;
	background-color: #96dda2;
	color: #468d32;
	font-weight: normal;
}

.error-contain {
	border: 2px solid maroon;
	border-radius: 3px;
	background-color: rgba(180,0,0,0.25);
}

.error-title {
	font-weight: bold;
	color: maroon;
}

.error-detail {
	font-weight: normal;
	color: maroon;
}

.site-contain {
	width: 900px;
	border: 2px solid gray;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.75);
}

.home-contain {
	width: 900px;
}

.view-header {
	margin: 0 auto;
	max-width: 850px;
}

.new-contain {
	width: 500px;
	border: 2px solid gray;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.75);
}

.show-contain {
	width: 700px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.9);
}

.title-contain {
	float: left;
	width: 425px;
}

.entry-contain {
	float: right;
	width: 425px;
}

.signin-contain {
	margin: 0 auto;
	max-width: 425px;
}

.signup-contain {
	margin: 0 auto;
	max-width: 425px;
}

.edit-profile-contain {
	width: 425px;
	margin: 0 auto;
	border: 2px solid gray;
	border-radius: 2px;
	background-color: rgba(255,255,255,0.75);
}

.title-font {
	font-family: 'Diplomata SC', cursive;
	font-size: 100px;
	color: rgba(255,255,255,1);
	text-shadow:2px 2px 8px #000000;
}

.subtitle-font {
	font-family: 'Rock Salt', cursive;
	font-size: 50px;
	color: rgba(255,255,255,1);
	text-shadow:2px 2px 8px #000000;
}

.home-signin {
	float: right;
	text-align: center;
	width: 400px;
	border: 2px solid gray;
	border-radius: 5px;
	margin: 10px;
	background-color: rgba(255,255,255,0.75);
}

.home-signup {
	float: right;
	text-align: center;
	width: 400px;
	border: 2px solid gray;
	border-radius: 5px;
	margin: 10px;
	background-color: rgba(255,255,255,0.75);
}

.input-field {
	display: inline-block;
	width: 380px;
	height: 35px;
	padding: 8px;
	margin: 5px;
	border: 1px solid gray;
	border-radius: 3px;
	font-size: 20px;
}

.signin-password {
	display: inline-block;
	width: 260px;
	height: 38px;
	padding: 8px;
	margin: 5px;
	border: 1px solid gray;
	border-radius: 3px;
	font-size: 20px;
}

.signin-btn {
	display: inline-block;
	width: 106px;
	margin: 3px;
	font-size: 18px;
}

.signup-btn {
	font-size: 18px;
}

.pw-btn {
	margin: 5px;
}

.pw-signupin {
	display: inline-block;
	margin: 5px;
	float: right;
}

.new-btn {
	float: right;
	display: inline-block;
	font-size: 25px;
}

.new-form-btn {
	display: inline-block;
	float: right;
	margin: 5px;
}

.show-btn {
	display: inline-block;
	float: right;
	margin: 5px;
	font-size: 15px;
}

.remember {
	margin-left: 5px;
}

.view-table {
	color: black;
	margin: 10px 0 10px 0;
}

.narrow {
	margin: 0 auto;
	max-width: 850px;
}

.h1-view {
	text-align: center;
	font-weight: bold;
	font-size: 100px;
	font-family: 'Diplomata SC', cursive;
}

.h2-view {
	float: left;
	display: inline-block;
	font-weight: bold;
	font-size: 60px;
}

.h3-view {
	font-weight: bold;
	font-size: 30px;
}

.h4-view {
	font-weight: bold;
	font-size: 25px;
}

.entry-field {
	display: inline-block;
	width: 300px;
	height: 35px;
	padding: 8px;
	margin: 5px;
	border: 1px solid gray;
	border-radius: 3px;
	font-size: 20px;
}

.entry-text-field {
	display: inline-block;
	width: 400px;
	height: 35px;
	padding: 8px;
	margin: 5px;
	border: 1px solid gray;
	border-radius: 3px;
	font-size: 20px;
}


.tablehead {
	font-weight: bold;
}